.bordered{
  border-style: solid;
  border-width: 3px;
  border-color: black;
  margin-bottom: 5px;
  padding-bottom: 0px;
}

.fit-to-div{
  margin: 0;
}

.card__content{
  padding-left: 0px;
  padding-right: 0px;
}